<!DOCTYPE html>
<html>
<head>
    <link href="{{ url_for('static', filename='style.css') }}" type="text/css" rel="stylesheet">
    <title>Drag and Drop Test</title>
    {{ dropzone.load() }}
    {{ dropzone.style('border: 2px dashed #0087F7; margin: 10%; min-height: 400px;') }}
    <link rel="icon" href="https://spatialflunky1.github.io/favicon.png">
    <style>
        .topnav {
            overflow: hidden;
            background-color: #333;
            text-align: center;
        }
    </style>
</head>
<body>
    <div class="topnav">
        <h1><em>Drag and Drop</em></h1>
    </div>
    <div class="container">
        <form method="post">
            <input type="submit" class="button button2" name="button" value="Back">
        </form>
    </div>
        {{ dropzone.create(action_view='drop') }}
</body>
</html>